body{background-image: url("https://img.freepik.com/free-photo/business-desk-frame-view_23-2148128275.jpg?w=740&t=st=1720504620~exp=1720505220~hmac=3844b9334c475131abf4e5a8d190f5b6f9128307112cab4aaa774b05c1329c78");
 background-color: #cccccc;
 background-size: cover;
}

form{
    background-color: rgb(94, 194, 12);
    margin: 0px 190px 0px 190px;
    border-radius: 30px;
    padding: 10px;
    width: 500px;

}
form:hover{
    background-color: rgb(208, 140, 235);
}
input{
    margin: 5px;
    border-radius: 5px;
    background-color: rgb(237, 245, 168);
}
select{
    margin: 5px;
    border-radius: 5px;
    background-color:rgb(237, 245, 168);;
}
textarea{
    border-radius: 5px;
    background-color:rgb(237, 245, 168);;
}
input:hover{
    background-color: rgb(213, 244, 188);
}
select:hover{
    background-color: rgb(213, 244, 188);
}
textarea:hover{
    background-color: rgb(213, 244, 188);
}
button{
    background-color: red;
}
button:hover{
    background-color: green;
}